extends layout

block content
  #banner.page-header
    .row
      col-lg-6
        h1 Note Taker
          small &nbsp: Take your notes on the go!
  .row
    .col-xs-12.col-sm-8
      .row.list-group-item
        h4
          a(href="/notes") Note 1
          small &nbsp;
        p.note Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis faucibus vestibulum. Sed varius in erat in ultrices. Phasellus volutpat finibus neque, sit amet posuere felis placerat id.
        p

        h4
          a(href="/notes") Note 2
          small &nbsp;
        p.note Nunc sed pulvinar dui, a viverra velit. Nulla dictum lorem pretium justo maximus dapibus. Fusce commodo dolor velit, sed convallis lectus placerat quis.
        p

    .col-xs-12.col-sm-4
      p.lead Keep all of your notes organized and in one place with Note Taker.


